<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="#">فیلم یاب</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> صفحه اصلی 
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="genres">
                <span class="oi oi-action-redo" aria-hidden="true"></span> ژانرها
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="people">
                <span class="oi oi-align-center" aria-hidden="true"></span>هنرپیشه ها 
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="movie/create">
                <span class="oi oi-list-rich" aria-hidden="true"></span> افزودن فیلم
            </NavLink>
        </li> 
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="movies/search">
                <span class="oi oi-share" aria-hidden="true"></span> جستوجو فیلم
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
