@inherits LayoutComponentBase
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        <CascadingValue Value="AppState">
            @Body
        </CascadingValue>
    </div>
</div>


@code{

    ApplicationState AppState = new ApplicationState();

    public class ApplicationState
    {
        public string Color = "black";
        public string Size = "30px";
    }


}